NEXT_PUBLIC_SUPABASE_URL=https://jxtvnnaylbtifhvpjdwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dHZubmF5bGJ0aWZodnBqZHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4NzI1MzcsImV4cCI6MjA5OTQ0ODUzN30.iuK5eoc2KZDLIuTaKg0VanBNkUHesUDOS7JIPPY0CEY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dHZubmF5bGJ0aWZodnBqZHdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg3MjUzNywiZXhwIjoyMDk5NDQ4NTM3fQ.qot_11XqYO5Ov9JHxB1UWu65MmzwkACZI8sb57D83ko
NEXT_PUBLIC_SITE_URL=http://localhost:3000